.burgerContainer {
  display: none;
}

@media (max-width: 767.9px) {
  .burgerContainer {
    display: inline-block;
    background-color: #0ef387;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 385px;
    transition: all 0.3s ease-in-out;
    z-index: 200;
    padding: 18px 32px;
  }
  .closeBar {
    display :flex;
    justify-content: space-between;
    align-items: center;
  }

  .closehamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
    width: 44px;
    height: 44px;
    position: relative;
  }

  .line3,
  .line4 {
    display: inline-block;
    width: 33px;
    height: 3px;
    border-radius: 10px;
    transform-origin: 11px;
    transition: all 0.4s ease-in-out;
  }
}
