.sectionContainer {
  max-width: 1240px;
  margin:0 auto;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 91px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.10);
}