.list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  display: none;
}

.item button {
  display: flex;
  min-width: 125px;
  padding: 12px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fafafa;
  font-family: "Suisse Intl";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.4);
}

button:hover {
  border: 1px solid #0ef387;
}

@media (max-width: 768px) {
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .item button {
    color: #0c0d0d;
    border: 1px solid rgba(12, 13, 13, 0.4);
  }

  .item button:hover{
    color: #FAFAFA;
    background: #0C0D0D;
  }
}
