.image {
  display: block;
  width: 611px;
  height: 568px;
  object-fit: cover;
  border-radius: 20px;
}

.imageContainer {
  display: flex;
  position: relative;
}

.decorationTab {
  position: absolute;
  left: -50px;
  top: 315px;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-direction: reverse;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(400px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .image {
    width: 704px;
    height: 482px;
  }

  .decorationTab {
    left: -16px;
  }

  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(calc(100cqw - 100%));
    }
  
    100% {
      transform: translateX(0);
    }
  }
}

@media (max-width: 375px) {
  .image {
    width: 335px;
    height: 381px;
  }
  .decorationTab {
    top: 240px;
  }

}